 /** {padding: 0;
margin: 0;
box-sizing: border-box;}
nav {height: 80px;
width:92%;
border: 3px solid #30c9b0;
margin-left: 20px
;
margin-top: 10px;
margin-right: 20px;

border-radius:  40px;
padding: 60px;
}
label .logo {font-size: 35px;
    padding: 0 100px;
    color: white;
line-height: 80px;}
nav ul {float: right;
margin-right: 20px;}
nav ul li {display: inline-block;
line-height: 30px;
margin: 0 5px}
nav ul li a {color: white;
font-size: 17px;
padding: 7px 13px;
border-radius: 3px;
text-transform: uppercase;}

a.active,a:hover{ background: #1b9bff;
transition: .5s;}

.check-btn {color: white;
font-size: 30px;
float: right;
line-height: 20px;
margin-right: 40px;}

#check {display: none;}

@media (max-width:952px
 )  {label.logo {font-size: 30px;
padding-left: 50px;}}
nav ul li  a  {font-size:17px  ;}*/


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-size: 16px;
    box-sizing: inherit;
    overflow-x: hidden;
}

/* ==================================== GRID SYSTEM ============================================== */
.row {
    max-width: 114rem;
    margin: 0 auto;
}

.row:not(:last-child) {
    margin-bottom: 8rem;
}

@media only screen and (max-width: 56.25em) {
    .row:not(:last-child) {
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .row {
        max-width: 50rem;
        padding: 0 3rem;
    }
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.row [class^="col-"] {
    float: left;
}

.row [class^="col-"]:not(:last-child) {
    margin-right: 6rem;
}

@media only screen and (max-width: 56.25em) {
    .row [class^="col-"]:not(:last-child) {
        margin-right: 0;
        margin-bottom: 6rem;
    }
}

@media only screen and (max-width: 56.25em) {
    .row [class^="col-"] {
        width: 100% !important;
    }
}

.row .col-1-of-2 {
    width: calc((100% - 6rem) / 2);
}

.row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3);
}

.row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4);
}


/* nav {
    background: #0082e6;
    height: 80px;
    width: 100%;
  }
  
  label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  
  nav ul {
    float: right;
    margin-right: 20px;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  
  nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  
  a.active,
  a:hover {
    background: #1b9bff;
    transition: .5s;
  }
  
  .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  
  #check {
    display: none;
  }
  
  @media (max-width: 952px) {
    label.logo {
      font-size: 30px;
      padding-left: 50px;
    }
  
    nav ul li a {
      font-size: 16px;
    }
  }
  
  @media (max-width: 858px) {
    .checkbtn {
      display: block;
    }
  
    ul {
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
  
    nav ul li {
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
  
    nav ul li a {
      font-size: 20px;
    }
  
    a:hover,
    a.active {
      background: none;
      color: #0082e6;
    }
  
    #check:checked~ul {
      left: 0;
    }
  } */








  


  /* ================== HEADER ========================== */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 2rem;
    right: 0;
    left: 0;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    border: 2px solid #1aaca2;
    border-radius: 15px;
    padding: 0.9rem 2rem;
}

.header__img {
    width: 16%;
    margin-top: -27px;
}
.header__logo {height: 30px;}

.header__ul{
    float: right;
    margin-right: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.header__li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header__link {
    text-decoration: none;
    color:white;
}
.header__link:hover{color:#1aaca2;}

.checkbtn {
    font-size: 2.5rem;
    display: none;
}

#check {
    display: none;
}
.qquo__btn {  background: #333;
    color: #fff;
    border: 3px solid skyblue;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 25px;
    border-color: #1aaca2;
}
.proj__btn {color: #1aaca2;}


@media only screen and (max-width: 800px) {
    .checkbtn {
      display: block !important;
    }

    .qquo__btn {
        display: none;
    }
  
    .header__ul {
      position: fixed;
      width: 40%;
      height: 100%;
      background: black;
      top: 0;
      left: -100%;
      text-align: center;
      transition: all .5s;
      z-index: 2000;
    }
  
    .header__li {
      display: block !important;
      margin: 50px 0;
      line-height: 30px;
    }
  
    .header ul li a {
      font-size: 20px;
      color: white;
    }
  
    #check:checked~ul {
        left: 0 !important;
      }
.header__img {margin-top: -7px;
width: 48px;}
  }



  /* =============== HEADER endddd ===================== */

  /* ===============CARDS ===================== */


  body {
    overflow-x: hidden;
  }

  .proj__cont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  .proj__card {
    width: 100%;
    border-radius: 5px;
    padding: 2rem 2rem;
    background-image: linear-gradient(to right bottom ,hsl(293, 63%, 47%) ,#000);
    text-align: left;
  }

  #projects {
    margin-top: 15rem;
  }

  .proj__image {
    text-align: center;
    margin-bottom: 2rem;
  }

  .proj__name {
    margin-bottom: 1rem;
  }

  .proj__para {
    margin-bottom: 1rem;
  }

  .proj__img {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }

  .proj__button {
    text-align: center;
  }


    /* ===============  CARDS  endddd ===================== */


  /* ============ footer =================== */

  .one__cont {
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 20px; 
   
  }
  .grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    

.grid {
    display: grid;
gap: 2rem;}
    .mt-10 {
        margin-top: 0.5rem;}
        ul {
            list-style: none;}
            .p-0 {
                padding: 4px;}


                @media only screen and (max-width: 800px) {
                  .one__cont {
                        grid-template-columns: repeat(1, 3fr);
                    }
                }           
             
                
    

    /* ============ footer endddd =================== */













 .item {
     margin-right: 10px;
     color: #fff;
     padding: 1em;
     flex: 1 1 cal(33.333% -2em)
 }

 @media (max-width:768px) {
     .item {
         flex: 1 1 cal(50%-2em)
     }
 }

 @media(max-width:480px) {
     .item {
         flex: 1 1 100%;
     }
 }

 .nav-link {
     text-align: center;
     text-decoration: none;
     color: white;
 }

 .logo img {
     height: 40px;
 }

 .project-card .veiw-more {
     margin-top: 80px;
     position: relative;
     bottom: -45px;
     padding: 80%;
     text-decoration: none;
     transition: back-ground-color 0.3s;
     font-size: medium;
 }

 .content {
     text-align: center;
 }


 body {
     font-family: Arial, sans-serif;
     background-color: #111;
     color: #fff;
     margin: 0;
     padding: 0;
 }

 header {
     background: #222;
     /* padding: 10px 20px; */
 }




 .project2 {
     text-align: left;
 }

 .projects-section {
     padding: 20px 20px;
     text-align: center;
 }

 .projects-section h1 {
     font-size: 2.5em;
     margin-bottom: 20px;
 }

 .projects-section .underline {
     display: block;
     width: 140px;
     height: 1px;
     background-color: skyblue;
 }

 .projects-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax (250px, 1fr));
     padding: 10 10px;
     gap: 2px;
 }

 .filters {
     margin-bottom: 30px;
     margin: 10px auto 0;
 }

 .filters button {
     background: #333;
     color: #fff;
     border: 3px solid skyblue;
     padding: 10px 20px;
     margin: 0 5px;
     cursor: pointer;

 }

 .filter-btn {
     background-color: #333;
     border: none;
     padding: 10px 20px;
     border-radius: 25px;
     cursor: pointer;
     background-color: 0.3s;
     border-color:#1aaca2;

 }

 .filters button:hover {
     background: #1e90ff;
 }

 @media (min-width: 763px) {
     .filters {
         grid-template-columns: repeat(2, 1fr);
     }
 }

 @media (min-width: 1024px) {
     .filters {
         grid-template-columns: repeat(3, 1fr);
     }

 }

 .logo {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     font-size: xx-small;
 }

 img {
     max-width: 100%;
     height: auto;
 }




 .project-card {

     padding: 55px;
     border-radius: 10px;
     width: calc(40% - 30px);
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     text-align: left;
     height: 75vh;
     overflow: hidden;


 }



 .project-card img {
     width: 90%;
     height: 100px;
     border-radius: 2px;
 }

 .project-card h3 {
     margin: 15px 0 10px;
 }

 .project-card p {
     margin: 0 0 15px;
 }



 .project-card .view-more:hover {
     background: #fff;
     color: #1e90ff;
 }

 footer {
     background: #222;
     padding: 20px;
     text-align: center;
 }

 .footer-content {
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
     align-items: center;
 }

 .footer-item {
     flex: 1 1 200px;
     margin: o.5em;
 }


 .footer-info {
     flex: 1;
     margin: 0 10px;
 }

 .footer-info h3 {
     margin-bottom: 10px;
 }

 .footer-info p {
     margin: 0;
 }

 .social-icons {
     display: flex;
     justify-content: center;
     gap: 10px;
 }

 .button1 {
     margin: 15px;


 }

 .full {
     background-color: #30c9b0;
 }

 footer {
     background: #222;
     color: #fff;
     padding: 20px 0;
 }

 .footer-content {
     display: flex;
     justify-content: space-around;
     padding: 20px;
     border-bottom: 1px solid #444;

 }


 .footer-info {
     flex: 1;
     margin: 0 10px;
 }

 .footer-info h3 {
     margin-bottom: 10px;
     font-size: 1.2em;
 }

 .footer-info p {
     margin: 0;
 }

 .social-icons h4 {
     margin-top: 5px;
 }

 .social-icons a img {
     width: 32px;
     height: 32px;
 }

 .social-icons {
     margin: auto;
 }

 .footer-bottom {
     display: flex;
     justify-content: space-around;
     align-items: center;
     padding: 10px 0;
     font-size: 0.9em;

 }

 .logo img {
     width: 100px;
     height: 80px;
 }

 .registration p,
 .footer-menu a,
 .footer-copyright p {
     margin: 0;
     padding: 0 10px;
     color: #bbb;
     text-align: center;
 }

 .footer-menu a {
     color: #bbb;
     text-decoration: none;

 }


 /* Default grid layout */
 .projects-container {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     gap: 20px;

 }



 .underline2 {
     display: block;
     width: 40px;
     margin-left: 83px;
     height: 2px;
     background-color: skyblue;

 }

 .underline3 {
     display: block;
     width: 40px;
     margin-left: 60px;
     height: 2px;
     background-color: skyblue;

 }

 .card1 {
     background: rgba(231, 134, 6, 0.2);
 }

 /* Responsive Styles */


 @media (max-width: 768px) {
     .project-card {
         width: 80%;
         height: 80%;
     }

     .header-text nav .content .item {
         display: block;
         text-align: center;
         margin: 5px 0;
     }

     .filter-btn {
         width: 100%;
         margin: 5px 0;
     }

 }


 @media (max-width:600px) {
     .product-card {
         width: 60%;
         height: -10px;
     }

     .nav-link {
         display: none;
     }

     .project-card img {
         width: 120%;
         height: 120%;
     }


 }



 .veiw-more {
     width: 80%;
     text-align: center;
     margin: -230px;
     color: aqua;
 }

 .filter-btn {
     width: 144px;
     margin-bottom: 2px;
     font-size: x-small;

 }


 .header-text {
     height: 3px;
 }




 body {
     font-family: Arial, sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* Responsive Styles */



 

 /* ===================== FOOTER SECTION ======================== */
.footer {
    background-color: #151414;
    padding-top: 5rem;
    padding-bottom: 0.4px;
    color: var(--text-color);
    width: 100%;
}

.footer-contact-icon {
    color: var(--main-color);
    font-size: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.location-content span {
    font-weight: 550;
    font-size: 2rem;
    text-transform: capitalize;
}

.phone-content span {
    font-weight: 550;
    font-size: 2rem;
    text-transform: capitalize;
}

.email-content {
    font-weight: 550;
    font-size: 2rem;
    text-transform: capitalize;
}

.location-text {
    color: #535253;
    font-size: 2rem;
    font-weight: 550;
}

.phone-text {
    color: #535253;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.email-text {
    color: #535253;
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: capitalize;
}

.footer-row-1 {
    border-bottom: 1px solid #535253;
}

@media only screen and (max-width: 1050px) {
    .footer-row-1 {
        width: 85%;
    }

    .footer-row-2 {
        transform: translateX(3rem);
    }
}

@media only screen and (max-width: 900px) {
    .footer-row-1 {
        min-width: 100rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-social-links {
        transform: translateX(2rem);
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 820px) {
    .footer-row-1 {
        min-width: 90rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 730px) {
    .footer-row-1 {
        min-width: 80rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 650px) {
    .footer-row-1 {
        min-width: 70rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 570px) {
    .footer-row-1 {
        min-width: 60rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 490px) {
    .footer-row-1 {
        min-width: 50rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

@media only screen and (max-width: 410px) {
    .footer-row-1 {
        min-width: 40rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }

    .footer-last-paragraph {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media only screen and (max-width: 330px) {
    .footer-row-1 {
        min-width: 30rem !important;
        margin-right: auto;
        margin-left: auto;
    }

    .footer-row-2 {
        transform: translateX(-0.5rem);
    }

    .email__contact {
        padding-bottom: 2rem;
    }
}

.footer-pseb {
    width: 70%;
}

.footer-img {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 0.4rem;
}

.footer-details-paragraph {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.footer-register {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 0.7rem;
}

.footer-ul {
    column-count: 2;
}

.footer-quick-links {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 0.6rem;
}

.footer-list {
    list-style: none;
    padding: 0.6rem;
}

.footer-nav-link {
    color: #535253;
    text-decoration: none;
}

.footer-nav-link:hover {
    color: var(--main-color);
}

.social-heading {
    font-size: 2rem;
    font-weight: 550;
    margin-bottom: 1.3rem;
}

.footer-social-links {
    margin-right: 2rem;
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.facebook__icon-link {
    background-color: #3B5998;
    padding: 1rem 1.5rem;
    border-radius: 50%;
}

.facebook__icon {
    color: #fff;
}

.twitter__icon {
    color: #fff;
}

.twitter__icon-link {
    background-color: #55ACEE;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}

.git__icon {
    color: black;
}

.git__icon-link {
    background-color: #FFFFFF;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}

.linkedin__icon {
    color: #fff;
}

.linkedin__icon-link {
    background-color: #0E76A8;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}

.inst__icon {
    color: #fff;
}

.inst__icon-link {
    background-color: #E1306C;
    padding: 1rem 1.1rem;
    border-radius: 50%;
}

.you__icon {
    color: #fff;
}

.you__icon-link {
    background-color: #990412;
    padding: 1.2rem 1.1rem;
    border-radius: 50%;
}

.google-img {
    width: 60%;
}

.google-rates {
    font-size: 2rem;
    font-weight: 550;
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.last-footer-text {
    background-color: #202020;
    padding: 0.4rem;
}

.footer-last-paragraph {
    text-align: center;
    font-size: 1.7rem;
}

@media only screen and (max-width: 56.25em) {
    .footer {
        text-align: left;
    }
}

@media only screen and (max-width: 1050px) {
    .social-links {
       transform: translateX(-2rem);
    }
}